/*JUMBOTRON*/
.jumbotron {
	text-align: center;
	margin-top: 50px;
	background: rgba(200, 54, 54, 0.7); 
	font-family: 'Bevan', cursive;
	color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

body {
	display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(../images/bottle-mug.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#quiz-area {
	font-family: 'Roboto', sans-serif;
	text-shadow: none;
	color: black;
}

/*START PAGE*/
#startpage {
	background-color: white;
	color: green;
	text-align: center;
}


/*TIMER*/
#timer {
	visibility: hidden;
}


/*TRIVIA QUESTIONS*/
.main {
	visibility: hidden;
}

#totalScore {
	visibility: hidden;
}